.issue {
    background-color: LightGray;
}

.issue > p {
    display: none;
}

table th {
    border-bottom: 2px solid LightGray;
}

table th:first-child {
    padding-right: 50px;
}

em.new {
    background-color: yellow;
    vertical-align: super;
    padding: 1px 5px;
    font-size: 70%;
  }
